@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-prompt: "Prompt", sans-serif;
    --font-sukhumvit: "Sukhumvit", sans-serif;
    --font-sukhumvit-bold: "SukhumvitBold", sans-serif;
    --font-prompt-semibold: "PromptSemiBold", sans-serif;
    --color-font: #ADADAD;
    --color-primary: #FFD000;
    --color-secondary: #191919;
  }

  @font-face {
    font-family: "Sukhumvit";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("Shared/Asseet/fonts/SukhumvitSet-Text.ttf") format("truetype");
  }

  @font-face {
    font-family: "SukhumvitBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Shared/Asseet/fonts/SukhumvitSet-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "SukhumvitSemiBold";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("Shared/Asseet/fonts/SukhumvitSet-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("Shared/Asseet/fonts/Prompt-SemiBold.ttf") format("truetype");
  }
}
